<div class="icon-holder">
  <img src="/assets/ui/icons/google-logo.png" class="slack-icon" />
</div>
<div class="in-progress-text" *ngIf="selectors.isLogging()">Logging...</div>
@if (selectors.errorOccurred()) {
  <div class="error-holder">
    @if (selectors.errorMessage()) {
      <span class="error-text">
        {{ selectors.errorMessage() }}
      </span>
    } @else {
      <span class="error-text" *ngIf="!selectors.errorMessage()">
        Something went wrong :( <br />
        Try again later
      </span>
    }
    <br />
    <span class="error-back" (click)="goToLoginScreen()"> ← go to login </span>
  </div>
}
