<div class="title-input-holder">
  <form class="task-form" [formGroup]="form">
    <mat-form-field class="title-input-holder" floatLabel="never">
      <textarea
        #titleInput
        #titleAutosize="cdkTextareaAutosize"
        matInput
        cdkTextareaAutosize
        [cdkAutosizeMinRows]="1"
        id="titleInput"
        formControlName="title"
        rows="1"
        [placeholder]="(voiceToTextConverting$ | async) ? '' : 'Task title here'"
        autocomplete="off"
        [attr.maxlength]="titleMaxLength"
        data-test="task-title-input"
        (keydown.enter)="$event.preventDefault()"
      ></textarea>

      <ba-voice-input-trigger matIconSuffix (recordingStopped)="onVoiceRecordingStopped()" />

      <mat-error *ngIf="false"> Task title is <strong>required</strong> </mat-error>
    </mat-form-field>
    @if (imageUri$ | async) {
      <div class="task-picture-holder">
        <img class="task-picture" src="{{ imageUri$ | async }}" data-test="task-picture" />
      </div>
    } @else {
      <div class="take-a-picture-icon-holder">
        <mat-icon
          aria-hidden="false"
          aria-label="Picture Icon"
          data-test="add-image-btn"
          inline
          (click)="addPictureBtnPressed()"
        >
          image
        </mat-icon>
      </div>
    }
  </form>
</div>
