.title-input-holder {
  width: 100%;
}

.take-a-picture-icon-holder {
  text-align: center;

  $picture-icon-size: 6rem;
  > mat-icon {
    color: white;
    font-size: $picture-icon-size;
    height: $picture-icon-size;
    width: $picture-icon-size;
  }
}

.mic-icon-button {
  border: none;
  background: none;
}

.mic-icon {
  font-size: 2rem;
  cursor: pointer;
  width: auto;
  height: auto;
}
