<div class="title-input-holder">
  <form class="task-form" [formGroup]="form">
    <mat-form-field class="title-input-holder" floatLabel="never">
      <input
        #titleInput
        matInput
        id="titleInput"
        formControlName="title"
        [placeholder]="(voiceToTextConverting$ | async) ? '' : 'Task title here'"
        autocomplete="off"
        data-test="task-title-input"
      />

      <ba-task-voice-mic-button
        *ngIf="!(voiceToTextConverting$ | async)"
        matIconSuffix
        (recordingStopped)="onVoiceRecordingStopped()"
      />

      <ba-task-voice-mic-button
        *ngIf="voiceToTextConverting$ | async"
        matIconSuffix
        variant="converting"
      />

      <mat-error *ngIf="false"> Task title is <strong>required</strong> </mat-error>
    </mat-form-field>
    @if (imageUri$ | async) {
      <div class="task-picture-holder">
        <img class="task-picture" src="{{ imageUri$ | async }}" data-test="task-picture"/>
      </div>
    } @else {
      <div class="take-a-picture-icon-holder">
        <mat-icon
          aria-hidden="false"
          aria-label="Picture Icon"
          data-test="add-image-btn"
          inline
          (click)="addPictureBtnPressed()"
        >
          image
        </mat-icon>
      </div>
    }
  </form>
</div>
