@if (!(voiceToTextConverting$ | async)) {
  <button
    class="mic-icon-button"
    mat-icon-button
    aria-label="Microphone"
    type="button"
    (click)="onMicClick($event)"
    (mousedown)="preventInputFocus($event)"
    tabindex="-1"
  >
    <mat-icon class="mic-icon" aria-hidden="true">mic</mat-icon>
  </button>
} @else {
  <span class="dots-suffix" aria-live="polite" aria-label="Converting speech to text">
    <span class="dot"></span><span class="dot"></span><span class="dot"></span>
  </span>
}
