:host {
  display: block;
  padding: 2.75rem 1.75rem;
}

.sidemenu-item {
  color: white;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  line-height: 2.375rem;
  margin-bottom: 1rem;
}

.sidemenu-item-icon {
  width: 1.875rem;
  margin-right: 1.5rem;
}
