<div
  class="sidemenu-item sidemenu-cancel-btn"
  (click)="editTaskOptionSelected()">
  <img class="sidemenu-item-icon" src="assets/ui/icons/edit.png" />
  <span>Edit</span>
</div>
<div class="sidemenu-item sidemenu-done-btn" 
  (click)="completeTask()">
  <img
    class="sidemenu-item-icon"
    src="assets/ui/icons/checkmark-green.png" />
  <span>Done</span>
</div>
<div class="sidemenu-item sidemenu-edit-btn" 
  (click)="canceledTask()">
  <img
    class="sidemenu-item-icon"
    src="assets/ui/icons/cancel-cross-icon-gray.png" />
  <span>Cancel</span>
</div>
<div
  class="sidemenu-item sidemenu-cancel-btn"
  (click)="deleteTaskOptionSelected()">
  <img class="sidemenu-item-icon" src="assets/ui/icons/rubbish.png" />
  <span>Delete</span>
</div>

