@use 'sass:map';
@use 'src/scss/colors';

:host {
  background-color: map.get(colors.$colors-green, default);
  display: flex;
  justify-content: center;
  height: auto;
}

.task-tile-inner {
  padding: .75rem;
}

.task-tile-title {
  text-align: center;
  word-break: break-word;
}
