<div class="top-panel-holder">
  <div class="top-panel-holder-left">
    <div class="page-header-text">
      <h1 class="page-title" data-test="home-title">Home</h1>
      <p class="page-subtitle" data-test="home-item-count">{{ itemCountLabel }}</p>
    </div>
  </div>
  <div class="top-panel-holder-right">
    <div *ngIf="!selectors.online()">
      <img src="assets/ui/icons/no-connection.png" />
    </div>
    <div
      class="sync-icon-holder"
      *ngIf="selectors.isLocalAuthenticated() && selectors.online()"
      [routerLink]="['/sync']"
    >
      <img src="assets/ui/icons/no-synchronize.png" />
    </div>
    <div *ngIf="selectors.isLoggedIn()" class="avatar-holder">
      <ba-mb-home-account-menu
        [avatarInputData]="avatarInputData"
        [userFullName]="selectors.userFullName()"
        [userEmail]="selectors.userEmail()"
      ></ba-mb-home-account-menu>
    </div>
  </div>
</div>
<div class="main-panel-holder">
  <ba-task-tiles-panel [tasks]="selectors.tasks()"></ba-task-tiles-panel>
</div>
<div class="bottom-panel-holder">
  <ba-mb-home-bottom-panel></ba-mb-home-bottom-panel>
</div>
