@use 'sass:map';
@use 'src/scss/colors' as colors;

:host {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}

.top-panel-holder {
  background-color: map.get(colors.$colors-gray-palette, 600);
  display: flex;
  height: 7vh;
  padding: 0 5px;

  .top-panel-holder-left,
  .top-panel-holder-right {
    display: flex;
    flex: 1;

    > * {
      margin-left: 10px;
    }
  }

  .top-panel-holder-right {
    justify-content: end;
  }

  .avatar-holder {
    align-self: center;
    height: 6vh;
    width: 6vh;
  }
}

.main-panel-holder {
  background: colors.$color-main-bg;
  flex: 1;
  overflow: hidden;
  overflow-y: scroll;
}

.bottom-panel-holder {
  height: 7vh;
}
