:host {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--color-background-app);
}

.top-panel-holder {
  background-color: var(--color-background-app);
  display: flex;
  height: 7vh;
  padding: 0 5px;

  .top-panel-holder-left,
  .top-panel-holder-right {
    display: flex;
    flex: 1;

    > * {
      margin-left: 0.625rem;
    }
  }

  .top-panel-holder-right {
    justify-content: end;
  }

  .avatar-holder {
    align-self: center;
    height: 6vh;
    width: 6vh;
  }

  .sync-icon-holder {
    display: flex;
  }
}

.main-panel-holder {
  background-color: var(--color-background-app);
  flex: 1;
  overflow: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
}

.bottom-panel-holder {
  height: var(--bottom-navigation-height);
  position: relative;
  z-index: 1;
}
