<div class="top-panel-holder">
  <div class="top-panel-holder-left"></div>
  <div class="top-panel-holder-right">
    <div *ngIf="!selectors.online()">
      <img src="assets/ui/icons/no-connection.png" />
    </div>
    {{ selectors.isLocalAuthenticated() }}111
    <div
      class="sync-icon-holder"
      *ngIf="(selectors.isLocalAuthenticated() && selectors.online()) || true"
      [routerLink]="['/sync']"
    >
      <img src="assets/ui/icons/no-synchronize.png" />
    </div>
    <div *ngIf="selectors.isLoggedIn()" class="avatar-holder">
      <ba-user-avatar [data]="avatarInputData" [routerLink]="['/profile']"></ba-user-avatar>
    </div>
  </div>
</div>
<div class="main-panel-holder">
  <ba-task-tiles-panel [tasks]="selectors.tasks()"></ba-task-tiles-panel>
</div>
<div class="bottom-panel-holder">
  <ba-mb-home-bottom-panel></ba-mb-home-bottom-panel>
</div>
