@import 'src/scss/constants';
@import 'src/scss/colors';

:host {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}

.task-view-container,
.task-view-sidemenu,
.task-view-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.task-view-sidemenu {
  background-color: #27272b;
  border-left: 1px solid white;
  width: 75%;
}

.top-panel-holder {
  height: 42px;
  background: bisque;
}

.main-panel-holder {
  background: $color-main-bg;
  flex: 1 0 auto;
  padding: $main-padding;
}

.title-input-holder {
  width: 100%;
}

.title-holder {
  text-align: center;
  color: $color-main-text;
  font-size: 20px;
  font-style: italic;
}

.bottom-panel-holder {
  flex-shrink: 0;
  height: 42px;
}

.task-picture-holder {
  display: flex;
  justify-content: center;
}

.take-a-picture-icon-holder {
  text-align: center;

  $picture-icon-size: 6rem;
  > mat-icon {
    color: white;
    font-size: $picture-icon-size;
    height: $picture-icon-size;
    width: $picture-icon-size;
  }
}

.sidemenu-holder {
  padding: 45px 30px;
}

.sidemenu-item {
  color: white;
  display: flex;
  align-items: center;
  font-size: 25px;
  line-height: 38px;
}

.sidemenu-item-icon {
  width: 30px;
  margin-right: 25px;
}
