<mat-drawer-container class="task-view-container" hasBackdrop="fasle">
  <mat-drawer-content class="task-view-content">
    <div class="top-panel-holder">
      <ba-mb-task-top-panel></ba-mb-task-top-panel>
    </div>
    <div class="main-panel-holder">
      @let mode = mode$ | async;
      @if (mode === ETaskViewMode.Create || mode === ETaskViewMode.Edit) {
        <ba-mb-task-edit></ba-mb-task-edit>
      }
      @if (mode === ETaskViewMode.View) {
        <ba-mb-task-view></ba-mb-task-view>
      }
    </div>
    <div class="bottom-panel-holder">
      <ba-mb-task-bottom-panel></ba-mb-task-bottom-panel>
    </div>
  </mat-drawer-content>
  <mat-drawer #menuDrawer class="task-view-sidemenu" mode="over" position="end">
    <ba-mb-task-side-menu></ba-mb-task-side-menu>
  </mat-drawer>
</mat-drawer-container>
