<mat-drawer-container class="task-view-container" hasBackdrop="fasle">
  <mat-drawer-content class="task-view-content">
    <div class="top-panel-holder">
      <div class="task-top-panel">
        @if(showCompleteTaskBtn$ | async) {
          <div lass="top-panel-btn done"
            id="completeTask"
            (click)="completeTask()">
          </div>
        }
        @if(showToggleOptionsBtn$ | async) {
          <div
            class="top-panel-btn options"
            (click)="toggleMenu()"
            id="toggelOptionsMenuBtn">
          </div>
        }
      </div>
    </div>
    <div class="main-panel-holder">
      <!-- user @let here after upgrade to Angular v 19 -->
      <!-- TICKET: https://brainas.atlassian.net/browse/BA-173 -->
      @if(
        (mode$ | async) === ETaskViewMode.Create || 
        (mode$ | async) === ETaskViewMode.Edit) {
        <div class="title-input-holder">
          <form
            [formGroup]="form"
            class="task-form"
            ngxsForm="{{ MbTaskScreenState.FORM_PATH }}">
            <mat-form-field class="title-input-holder" floatLabel="never">
              <input
                #titleInput
                matInput
                id="titleInput"
                formControlName="title"
                placeholder="Task title here"
                autocomplete="off"
                autofocus />
              <mat-error *ngIf="false">
                Task title is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            @if ((imageUri$ | async)) {
              <div class="task-picture-holder">
                <img class="task-picture" src="{{ imageUri$ | async }}" />
              </div>
            } @else {
              <div class="take-a-picture-icon-holder">
                <!-- 
                  NOTE: 
                  Here I trigger the picture-taking process
                 -->
                <mat-icon
                  aria-hidden="false"
                  aria-label="Picture Icon"
                  (click)="addPictureBtnPressed()">
                  image
                </mat-icon>
              </div>
            }
          </form>
        </div>
      }
      <!-- user @let here after upgrade to Angular v 19 -->
      <!-- TICKET:  https://brainas.atlassian.net/browse/BA-173 -->
      @if((mode$ | async) === ETaskViewMode.View) {
        <div class="title-holder">
          <span>{{ (task$ | async).title }}</span>
        </div>
        @if((task$ | async)?.imageUri) {
          <div class="task-picture-holder ">
            <img class="task-picture" src="{{ (task$ | async)?.imageUri }}" />
          </div>
        }
      }
    </div>
    <div class="bottom-panel-holder">
      <app-mb-task-view-bottom [enabled]="form.valid"></app-mb-task-view-bottom>
    </div>
  </mat-drawer-content>
  <mat-drawer #menuDrawer class="task-view-sidemenu" mode="over" position="end">
    <ba-mb-task-side-menu 
      #sideMenu
      (editTask)="editTaskOptionSelected()"
      (completeTask)="completeTask()"
      (cancelTask)="canceledTask()"
      (deleteTask)="deleteTaskOptionSelected()">
    </ba-mb-task-side-menu>
  </mat-drawer>
</mat-drawer-container>
