@use "sass:map";
@import "src/scss/colors";

.mb-task-ok-panel {
  background-color: $color-panel-bg;
  display: flex;
  height: 100%;

  .cancel-task-btn {
    background: url("/assets/ui/icons/cancel-cross-icon-gray.png") center / auto
      85% no-repeat;
    display: flex;
    width: 50%;
  }

  .create-task-btn {
    background: url("/assets/ui/icons/checkmark-green.png") center / auto 85%
      no-repeat;
    display: flex;
    opacity: 0.4;
    width: 50%;

    &.enabled {
      opacity: 1;
    }
  }
}

.go-home-btn {
  background-color: map.get($colors-gray-palette, 600);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  & > img {
    height: 2.2rem;
    width: 2.2rem;
  }
}
