@if(
  mode() === ETaskViewMode.Create ||
  mode() === ETaskViewMode.Edit) {
  <div
    class="mb-task-ok-panel">
    <div class="cancel-task-btn" (click)="cancelChanges()">Cancel</div>
    @let isEditFormValid = isEditFormValid$ | async;
    <div
      class="create-task-btn"
      [ngClass]="{ enabled: isEditFormValid }"
      (click)="applyChanges()"
      id="createTaskBtn">
      Ok
    </div>
  </div>
}

@if(mode() === ETaskViewMode.View) {
  <div
    class="go-home-btn"
    (click)="goHome()">
    <img src="assets/ui/icons/home-icon.png" />
  </div>
}
