<div class="title-input-holder">
  <form class="task-form" [formGroup]="form">
    <div class="title-field">
      <label class="field-label" for="titleInput">Title</label>
      <div class="title-control">
        <textarea
          class="title-input"
          #titleAutosize="cdkTextareaAutosize"
          id="titleInput"
          cdkTextareaAutosize
          [cdkAutosizeMinRows]="1"
          formControlName="title"
          rows="1"
          [placeholder]="(voiceToTextConverting$ | async) ? '' : 'Task title here...'"
          autocomplete="off"
          [attr.maxlength]="titleMaxLength"
          data-test="task-title-input"
          (keydown.enter)="$event.preventDefault()"
        ></textarea>
        <ba-voice-input-trigger (recordingStopped)="onVoiceRecordingStopped()" />
      </div>
      <p class="character-count" data-test="task-title-count">
        {{ titleLength }}/{{ titleMaxLength }}
      </p>
    </div>
    <div class="description-field">
      <p class="field-label">Description</p>
      <ba-rich-text-editor formControlName="description" />
    </div>
    @if (imageUri$ | async) {
      <div class="task-picture-holder">
        <img class="task-picture" src="{{ imageUri$ | async }}" data-test="task-picture" />
      </div>
    } @else {
      <div class="take-a-picture-icon-holder">
        <mat-icon
          aria-hidden="false"
          aria-label="Picture Icon"
          data-test="add-image-btn"
          inline
          (click)="addPictureBtnPressed()"
        >
          image
        </mat-icon>
      </div>
    }
  </form>
</div>
