:host {
  display: grid;
  flex-wrap: nowrap;
  gap: clamp(0.3125rem, 1.5vw, 1rem); // This sets both row and column gaps
  grid-template-columns: repeat(3, 1fr);
}

.tiles-column {
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.3125rem, 1.5vw, 1rem);
}
