<svg class="progress-ring" [attr.viewBox]="viewBox">
  <defs>
    <filter [attr.id]="filterId" x="-20%" y="-20%" width="140%" height="140%">
      <feGaussianBlur in="SourceGraphic" [attr.stdDeviation]="blurStdDev" />
    </filter>
  </defs>
  <circle
    #progressCircle
    class="progress-ring__circle"
    [attr.cx]="renderRadius"
    [attr.cy]="renderRadius"
    [attr.r]="renderRadius"
    [attr.stroke-width]="strokeWidth"
    fill="none"
    [attr.filter]="'url(#' + filterId + ')'"
  />
</svg>

