@if (mode() === ETaskViewMode.Create || mode() === ETaskViewMode.Edit) {
  <div class="form-actions">
    <button
      class="form-action form-action-secondary"
      type="button"
      data-test="cancel-changes-btn"
      (click)="cancelChanges()"
    >
      Cancel
    </button>
    @let isEditFormValid = isEditFormValid$ | async;
    <button
      class="form-action form-action-primary"
      type="button"
      id="createTaskBtn"
      data-test="apply-changes-btn"
      [disabled]="!isEditFormValid"
      (click)="applyChanges()"
    >
      {{ submitLabel() }}
    </button>
  </div>
}

@if (mode() === ETaskViewMode.View) {
  <div class="go-home-btn" data-test="go-home-btn" (click)="goHome()">
    <img src="assets/ui/icons/home-icon.png" />
  </div>
}
