@use 'scss/breakpoints' as bp; // exposes mixins like `up()` without namespacing

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

app-root {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  // Start narrow
  max-width: 100%;

  @include bp.up(md) {
    max-width: 768px;
  }

  @include bp.up(lg) {
    max-width: 960px;
  }

  @include bp.up(xl) {
    max-width: 1140px;
  }

  @include bp.up(xxl) {
    max-width: 1320px;
  }
}
